a {
  outline: none !important;
}

.dropdown-inline {
  display: inline-block;
}

.dropdown-toggle .caret {
  margin-left: 4px;
  white-space: nowrap;
  display: inline-block;
}

.chunkydropdown-menu {
  min-width: 20em;
}

.slider {
  width:68%;
  height:100%;
  display:block;
  -webkit-transition: all 0.125s linear;
  -moz-transition: all 0.125s linear;
  -o-transition: all 0.125s linear;
  transition: all 0.125s linear;
  margin-left: 3.5%;
  margin-top: auto;
}

.slideron {
  margin-left: 28.5%;
}

.content_wrapper{
  display: table-cell;
  vertical-align: middle;
}

.desaturated {
  -webkit-filter: grayscale(0.7);
	-webkit-filter: grayscale(70%);
	filter: gray;
	filter: grayscale(70%);
}
