<div class="dropdown" [ngClass]="settings.containerClasses" [class.open]="isVisible">
  <button type="button" class="dropdown-toggle" [ngClass]="settings.buttonClasses" (click)="toggleDropdown()" [disabled]="disabled">{{ title }}<span class="caret"></span></button>
  <ul #scroller *ngIf="isVisible" class="dropdown-menu"
      (scroll)="settings.isLazyLoad ? checkScrollPosition($event) : null"
      (wheel)="settings.stopScrollPropagation ? checkScrollPropagation($event, scroller) : null"
      [class.pull-right]="settings.pullRight" [class.dropdown-menu-right]="settings.pullRight"
      [style.max-height]="settings.maxHeight" style="display: block; height: auto; overflow-y: auto;">
    <li class="dropdown-item search" *ngIf="settings.enableSearch">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="{{ texts.searchPlaceholder }}" aria-describedby="sizing-addon3" [formControl]="filterControl"
          autofocus>
        <span class="input-group-btn" *ngIf="filterControl.value.length > 0">
          <button class="btn btn-default btn-secondary" type="button" (click)="clearSearch($event)"><i class="fa fa-times"></i></button>
        </span>
      </div>
    </li>
    <li class="dropdown-divider divider" *ngIf="settings.enableSearch"></li>
    <li class="dropdown-item check-control check-control-check" *ngIf="settings.showCheckAll && !disabledSelection" (click)="checkAll()">
      <a href="javascript:;" role="menuitem" tabindex="-1">
        <span style="width: 16px;" [ngClass]="{'glyphicon glyphicon-ok': settings.checkedStyle !== 'fontawesome','fa fa-check': settings.checkedStyle === 'fontawesome'}"></span>
        {{ texts.checkAll }}
      </a>
    </li>
    <li class="dropdown-item check-control check-control-uncheck" *ngIf="settings.showUncheckAll && !disabledSelection" (click)="uncheckAll()">
      <a href="javascript:;" role="menuitem" tabindex="-1">
        <span style="width: 16px;" [ngClass]="{'glyphicon glyphicon-remove': settings.checkedStyle !== 'fontawesome','fa fa-times': settings.checkedStyle === 'fontawesome'}"></span>
        {{ texts.uncheckAll }}
      </a>
    </li>
    <li *ngIf="settings.showCheckAll || settings.showUncheckAll" class="dropdown-divider divider"></li>
    <li *ngIf="!renderItems" class="dropdown-item empty">{{ texts.searchNoRenderText }}</li>
    <li *ngIf="renderItems && !renderFilteredOptions.length" class="dropdown-item empty">{{ texts.searchEmptyResult }}</li>
    <li class="dropdown-item" *ngFor="let option of renderFilteredOptions" (click)="setSelected($event, option)" [ngStyle]="getItemStyle(option)"
      [ngClass]="option.classes" [class.dropdown-header]="option.isLabel">
        <a *ngIf="!option.isLabel; else label" href="javascript:;" role="menuitem" tabindex="-1" [style.padding-left]="this.parents.length>0&&this.parents.indexOf(option.id)<0&&'30px'"
          [ngStyle]="getItemStyleSelectionDisabled()">
          <ng-container [ngSwitch]="settings.checkedStyle">
            <input *ngSwitchCase="'checkboxes'" type="checkbox" [checked]="isSelected(option)" (click)="preventCheckboxCheck($event, option)"
              [disabled]="isCheckboxDisabled()" [ngStyle]="getItemStyleSelectionDisabled()" />
            <span *ngSwitchCase="'glyphicon'" style="width: 16px;" class="glyphicon" [class.glyphicon-ok]="isSelected(option)"></span>
            <span *ngSwitchCase="'fontawesome'" style="width: 16px;display: inline-block;">
              <i *ngIf="isSelected(option)" class="fa fa-check" aria-hidden="true"></i>
            </span>
          </ng-container>
          <span [ngClass]="settings.itemClasses" [style.font-weight]="this.parents.indexOf(option.id)>=0?'bold':'normal'">
            {{ option.name }}
          </span>
        </a>
        <ng-template #label>{{ option.name }}</ng-template>
    </li>
  </ul>
</div>
